

.right{
    float: right;
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 18px;
     background-color:white;
  width: 50%;
  border: 3.5px solid rgb(20, 20, 82);
  padding: 25px;
    height: 70%;
    margin-right: 15%;

}
#b
{
  margin-left:5%;
  margin-right: 5%;
}

 .information,.addimg,.downloadpdf{
  background-color: white;
  width: 14%;
  border: 3.5px solid rgb(20,20,82);
  padding: 25px;
  margin-top:0.8%;
  height: 25%;
   
}
.left{
  margin-top:1.5%;
  margin-left: 11%;
  height:71.9%;
}